.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content:space-between;
    align-content: center;
    grid-template-areas:
    "t t t"
    "l m r";      
}  

.grid-container .top {
    align-content: stretch;
} 

.top {
    grid-area: t;
    background-color: rgba(0, 0, 0, 0.631);
    height: 50px;
    line-height: 50px;
    text-align:right;
}

.top span a {
    text-decoration: none;
    color:rgb(241, 241, 241);
    font: bold 16px Verdana, Send-Serif;
    padding:10px;
}
.test {
    padding: 10px;
    background-color: brown;
    font-size: 12px;
    width: 50px;
}

.left-side {
    grid-area: l;
}
.main {
    margin-top: 3in;
    grid-area: m;
    justify-self: center;
   
}
.right-side {
    grid-area: r;
}

.inputQ{
    width: 7in;
    height: 30px;
    font-size: 24px;
    border-radius: 15px;
}
.inputS{
    font-weight: bold; 
    text-align: center;
    margin-left: 2.4in;
    width: 200px;
    height: 50px;
}

#form{
    margin-top: 20px;
}

* {
    box-sizing: border-box;
  }
.logo {
    text-align: center;
}

.hidden {
    display: none;
}